fastapi
uvicorn
langchain-mistralai
langchain-community
langgraph
langgraph-checkpoint
python-dotenv
cuid
python-multipart
pinecone
pinecone-plugin-interface
jq
unstructured
unstructured-client
azure-ai-documentintelligence
psycopg2
psycopg2-binary
alembic
firebase-admin
langchain-pinecone
langchain-mistralai
